@import 'tailwindcss';

@theme {
  --color-background: #0b1120;
  --color-primary: #1e40af;
  --color-secondary: #3b82f6;
  --color-foreground: #f9fafb;
  --color-muted: #6b7280;
}

@layer base {
  /* .btn {
    @apply px-4 py-2 bg-primary text-foreground font-semibold rounded hover:bg-secondary transition;
  } */
  .card {
    @apply bg-slate-800 border border-slate-700 rounded-lg shadow-md p-6;
  }
}
